.DS_Store
CoffeeSpace.xcodeproj/xcuserdata/luis.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/luis.xcuserdatad/xcschemes/xcschememanagement.plist
CoffeeSpace.xcworkspace/xcuserdata/luis.xcuserdatad/UserInterfaceState.xcuserstate
CoffeeSpace.xcworkspace/xcuserdata/LadyGaladrielFolder.xcuserdatad/UserInterfaceState.xcuserstate
UserInterfaceState.xcuserstate
project.pbxproj
CoffeeSpace.xcodeproj/xcuserdata/ricardovila.xcuserdatad
Pods/Pods.xcodeproj/xcuserdata/ricardovila.xcuserdatad
CoffeeSpace/Icons/appicon.png
CoffeeSpace/Icons/appicon3x.png
